
// Colors
$input-focus: #a4dbff;
$input-pending: #f39c12;
$input-valid: #2ecc71;
$input-error: #e74c3c;

$input-background: #f9f9f9;
$input-background-focus: #fff;

$border-color: #bdc3c7;

// Spacing
$spacing-xs: .2rem;
$spacing-sm: .5rem;
$spacing-md: 1rem;
$spacing-lg: 1.5rem;
$spacing-xl: 2rem;

// Border
$border-width: .15rem;

$border-radius-xs: .2rem;
$border-radius-sm: .8rem;
$border-radius-md: 1.4rem;
$border-radius-lg: 2rem;
$border-radius-xl: 2.6rem;